/* src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Your custom global styles or other CSS imports go AFTER these directives */
body {
  margin: 0;
  font-family: 'Inter', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}